.logo-about {
    height: 30rem !important;
    width: 90% !important;
    margin-top: 5rem !important;
    object-fit: cover !important;
    border-radius: 3rem !important;
    box-sizing: border-box !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-comment {
    width: 90% !important;
    background-color: #273046 !important;
    border-radius: 3rem !important;
    margin: 2rem !important;
    padding: 3rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.9) 0px 8px 16px -8px;

    & > h1 {
        border-bottom: 1px solid #7465F2 !important;
    }

    & > p {
        line-height: 3rem !important;
    }
}

@media screen and (min-width: 700px) {
    .about-comment {
        margin: 5rem 20rem 5rem 5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .about-comment {
        margin: 5rem 20rem 0rem 8rem !important;
    }
}