/* LOGIN CONTENT */

.authLoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-register-btn>a {
    text-decoration: none;
    color: #73228B;
}

#user-login>p,
#user-login>h1 {
    margin-top: 5rem;
    font-size: 3rem;
    color: #73228B;
}

.forgetPassword {
    display: flex;
    justify-content: space-around !important;
    align-items: center !important;
    width: 100%;
}

.forgetPasswordColor {
    font-size: 0.8rem;
    color: white !important;
}

.forgetPasswordColor a {
    color: #7465F1 !important;
}

#errorMessageLogin {
    display: flex;
    justify-content: center;
    width: 50rem;
    background-color: #7465F1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.authLoginContainer .loginPageUsernameInput,
.authLoginContainer .loginPagePasswordInput {
    background-color: transparent !important;
    width: 30rem !important;
    height: 3.5rem !important;
    margin: 1rem;
    border-radius: 0;
    border-bottom: 0.1rem solid white !important;
    border: none;
}

.loginPageUsernameInput .ant-input,
.loginPagePasswordInput .ant-input {
    background-color: transparent !important;
}

.authModalRegisterButton:hover {
    border-color: #7465F1 !important;
}

.authLoginTitle>h1 {
    color: white !important;
    margin: 4rem;
    font-size: 3.5rem;
}

.authLoginContainer h1,
.authLoginContainer h2,
.authLoginContainer p,
.ant-modal-close-x,
.ant-input {
    color: white !important;
}

.inputGroupUser .float-label .label-float{
    left: 4rem !important;
}

/* LOGIN CONTENT */

/* Otomatik input doldurma sırasında arkaplanın beyaz olmasını engellemek için kullanılır */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

@media screen and (min-width: 700px) {

    .authLoginContainer .loginPageUsernameInput,
    .authLoginContainer .loginPagePasswordInput {
        width: 50rem !important;
    }

    .forgetPasswordColor {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {

    .authLoginContainer .loginPageUsernameInput,
    .authLoginContainer .loginPagePasswordInput {
        width: 50rem !important;
    }

    .forgetPasswordColor {
        font-size: 1.5rem;
    }
}