.authRegisterContainer {
    overflow-y: scroll !important;
}

.user-register > h1 {
    margin: 1rem;
    font-size: 2rem;
    color: white;
}

.acconut-register > a{
    color: white;
    font-size: 1.2rem;
    border: none;
}

.error-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#error-message-register {
    width: 50rem;
    background-color: #7465F1;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}


@media screen and (min-width: 700px) {

    .acconut-register > a {
        font-size: 1.5rem;
    }

    .user-register > h1 {
        margin: 1rem;
        font-size: 3rem;
        color: white;
    }

    .acconut-register > a{
        color: white;
        font-size: 2rem;
        border: none;
    }
}

@media screen and (min-width: 1200px) {

    .acconut-register > a {
        font-size: 1.7rem;
    }

    .user-register > h1 {
        margin-bottom: 0;
    }

    .user-register > h1 {
        margin: 1rem;
        font-size: 3rem;
        color: white;
    }

    .acconut-register > a{
        color: white;
        font-size: 2rem;
        border: none;
    }
}