.icon-style {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.navigate>ul>li {
    flex-direction: column;
    list-style: none;
    border-radius: 15px 0px 0px 15px;
}

.navigate>ul>li a {
    text-decoration: none;
}

.icon-style.active {
    background-color: #7465F2;
    border-radius: 15px 0px 0px 15px;
    width: 210px;
}

/* .navigate>ul>li:hover {
    background-color: #7465F2;
    border-radius: 15px 0px 0px 15px;
    padding-left: 10px;
} */

.adminpanel-exit-btn-position {
    margin-top: 400px !important;
}