.space-vehicle-container {
    height: 650px;
    max-height: 650px;
    width: 1100px;
    background-color: #273046;

    display: flex;
    float: right;
    margin-right: 3.2%;
    margin-top: 30px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    overflow-y: scroll;
}

#space-vehicle-title {
    color: white;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center
}

.product-card {
    height: 250px;
    width: 1050px;
    background-image: linear-gradient(120deg, #161D30, black);

    margin-top: 30px;
    border-radius: 5px;
    margin-left: 2.2%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-rocket {
    display: flex;
    align-items: start;
    color: white;

    flex-direction: column;

    margin-left: 2%;
}

.comment-rocket>h2 {
    font-size: 25px;
    margin: 0;
}

.comment-rocket>span {
    font-size: 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#rocket-price {
    font-size: 15px;
    color: white;
    background-color: #7465F2;
    padding: 5px;
    border-radius: 5px;
}

.rocket-img>img {
    height: 250px;
    width: 250px;

    float: right;
    border-radius: 0px 5px 5px 0px;

}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-group>a {
    margin-left: 25px;
    padding: 5px;
    font-size: 15px;

    background-color: #7465F2;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 1200px) {

    .space-vehicle-container {
        width: 1000px;
        height: 550px;
        margin-top: 20px;
    }

    .product-card {
        width: 960px;
    }

    #space-vehicle-title {
        font-size: 20px;
    }

    .comment-rocket>h2 {
        font-size: 20px;
    }

    .comment-rocket>span {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {

    .space-vehicle-container {
        width: 510px;
        height: 500px;
    }

    .product-card {
        width: 480px;
    }
}