.buyTicketModal {
    width: 40% !important;
    color: white !important;
}

.buyTicketModal .ant-modal-content,
.buyTicketModal .ant-modal-header {
    background-color: #273046 !important;
    color: white !important;
}

.buyTicketModalButton {
    width: 90% !important;
    background-color: #7465F2 !important;
}

.buyTicketModalButton:hover {
    background-color: #273046 !important;
    border-color: #7465F2 !important;
}

.paymentScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paymentCardNumber,
.paymentCardName {
    background-color: transparent !important;
    border-color: #7465F2 !important;
    margin-top: 2rem !important;
    min-width: 50rem !important;
    width: 90% !important;
}

.paymentScreenContainer .float-label label {
    margin-top: 1.5rem !important;
}

.paymentScreenCVV {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.paymentCardExpıryDate,
.paymentCardCVV {
    width: 23rem !important;
    background-color: transparent !important;
    border-color: #7465F2 !important;
    margin: 2rem 2rem !important;
}

.paymentSeatNumber {
    background-color: transparent;
    border-color: #7465F2;
    width: 23rem !important;
    margin-top: 2rem !important;
}

.paymentScreenCVV .paymentSeatNumberContainer .float-label label {
    margin-bottom: 10rem !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.errorMessageBuyTicket {
    background-color: #7465F2 !important;
    color: white !important;
    padding: 2rem !important;
    margin: 2rem !important;
    border-radius: 0.5rem !important;
    text-align: center !important;
}

.ant-message-notice-content {
    background-color: white !important;
    color: black !important;
}