.auth-btn {
    padding-top: 25px;
}

.auth-btn>button {
    background-image: linear-gradient(90deg, #73228B, #490F80);
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.auth-btn>button:hover {
    transform: scale(0.9);
    box-shadow: 2px 2px 30px 3px #73228B;
}