.image-position {
    display: none;
}


@media screen and (min-width: 700px) {

    .image-position {
        display: inline-block;
        min-height: 65rem;
        height: 100%;
        max-width: 55rem;
        width: 100%;
        background-position: center;

        margin-top: 0.5rem;
        border-radius: 2rem 0 0 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .image-position {
        display: inline-block;
        min-height: 71rem;
        height: 100%;
        max-width: 60rem;
        width: 100%;
        background-position: center;

        margin-top: 0.5rem;
        border-radius: 2rem 0 0 2rem;
    }
}