.search-dropdown-container {
    display: flex;
    flex-wrap: wrap;
}

.search-bar {
    display: flex !important;
}

.search-bar-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 100%;
    min-height: 15rem;
    height: 100%;
    margin-top: 3rem;
    background-color: #273046;
    border-radius: 0.5rem;
}

.search-bar-item-top > h1 {
    font-size: 2.5rem;
}

.ant-picker-input > input::placeholder,
.ant-picker-suffix,
.ant-picker-range-separator > span {
    color: white !important;
}