.search-bar {
    width: 1080px;
    height: 115px;
    background-color: #273046;

    margin-right: 3.2%;

    margin-top: 30px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search-bar-item-top>h1 {
    display: inline-block;
    margin-left: 4.5% !important;
    font-size: 25px;
    color: white;
}

.search-bar-item-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userlist-select-role {
    width: 225px !important;
}

input::placeholder {
    color: white !important;
}

.ant-space-item>div::placeholder {
    color: white;
}