body {
    margin: 0 !important;
    padding: 0 !important;
}

#admin-panel-body {
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col-8 {
    flex-direction: column;
}

/** first-color =  #273046  **/
/** second-color =  #161D30  **/
/** third-color =  #5D5E9C  **/
/** fourth-color =  #858B9B  **/

/* NAVİGATE */

.aside {
    width: 250px;
    height: 783px;
    background-color: #273046;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    margin-left: -20px !important;
    margin-right: 30px !important;
}

.admin-rocket-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.renta-rocket {
    display: flex;
    justify-content: space-around;
    border-bottom: 5px;
    padding: 10px;
    border-bottom: solid #161D30;
}

.renta-rocket>img {
    margin-top: 2.5%;
}


.renta-rocket>h1 {
    font-size: 25px;
    color: #7465F2;
}

/* NAVİGATE */

/* HEADER */

.header {
    width: 1080px !important;
    background-color: #273046;
    margin-right: 40px !important;
    margin-top: 30px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.admin-info {
    flex-direction: column;
    margin-right: 10px;
}

.admin-info>h1 {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: white;
}

.admin-info>span {
    font-size: 10px;
    float: right;
    margin-top: 0px;
    margin-bottom: 15px;
    color: white;
}

.admin-container-aside,
.admin-container-header {
    background-color: #161D30;
    padding: 0px !important;
    margin: 0px !important;
}

/* HEADER */

/* BUTTON */

.css-dev-only-do-not-override-12upa3x {
    color: white !important;
}

/* BUTTON */

/** MEDIA QUERIES  **/

@media screen and (max-width: 1200px) {

    .aside {
        width: 100px;
        height: 680px;
    }

    .header {
        width: 1000px;
        margin-top: 20px;
    }

    .renta-rocket>img {
        margin-top: 0%;
        margin-right: 2.5%;
    }

    .admin-container-aside {
        position: relative;
        right: 135px;
    }

    .admin-container-header {
        position: relative;
        bottom: 690px;
        left: 10px;
    }

    p {
        display: none;
    }

    h1 {
        display: none;
    }

    .navigate>ul>li:hover {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent !important;
        border-radius: 0px !important;
        margin-left: 0px !important;

    }

    .admin-info>span {
        padding-bottom: 10px;
    }

    .admin-img {
        margin-bottom: 15px;
    }

    .navigate>ul>li>a :hover {
        color: white;

    }
}

@media screen and (max-width: 768px) {

    .aside {
        height: 75px;
        width: 100%;
        border-radius: 5px;
    }

    .admin-container-aside {
        position: relative;
        right: 0px;
    }

    .header {
        width: 510px;
    }

    .admin-container-header {
        position: relative;
        bottom: 0px;
        left: -0px;
        width: 100px;
    }

    .admin-rocket-img {
        display: inline-block;
        float: left;
        margin-left: 15%;
    }

    .header-img {
        margin-bottom: 0.1%;
    }

    .navigate>ul>li {
        display: inline-flex;
        float: left !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 2.5%;
        padding-left: 4%;
    }

    .navigate>ul>li:hover {
        background-color: #273046;
        border-radius: 0px;
        margin-left: 0px;
        margin: 0px;
        padding-top: 5%;
    }


    .icon-style>svg {
        font-size: 20px;
    }

    .navigate>ul>li>a {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .renta-rocket {
        display: inline-block;
        float: left;
        border-bottom: 0;
    }

    .renta-rocket>h1 {
        display: flex;
        font-size: 20px;
        padding-left: 5%;
        margin: 0;
    }

    .adminpanel-exit-btn-position {
        margin-top: 7px !important;
        margin-right: 0px !important;
    }
}