.borderRL {
    border-right: 0.1rem solid white !important;
    border-left: 0.1rem solid white !important;
}

/* Mouse ile text seçimi engelleme */
body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#customerPageContainer {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    background-color: #161D30;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#customerPageContainer::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161D30;
    background-size: cover;
    z-index: -1;
}

/* HEADER */

.headerCustomer {
    width: 100% !important;
    height: 1% !important;
    background-color: #273046;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1 !important;
}

.headerCustomerInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem !important;
}

.headerTitleStyle {
    color: #7465F2;
    font-size: 3rem;
    margin-right: 30%;
    cursor: pointer;
}

.headerButtonStyle {
    background-color: transparent;
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.headerButtonContainer>a:hover {
    color: #7465F2;
}

/* HEADER */

.dropbtn {
    background-color: #7465F2;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 2.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0rem;
    background-color: #273046 !important;
    min-width: 16rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropdown-content a {
    color: white;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    border-radius: 0.5rem !important;
}

.dropdown-content a:hover {
    background-color: #7465F2;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}