/** first-color =  #273046  **/
/** second-color =  #161D30  **/
/** third-color =  #5D5E9C  **/
/** fourth-color =  #858B9B  **/

#customer-panel-body {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: #161D30;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#customer-panel-body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161D30;
    background-size: cover;
    z-index: -1;
}

.customer-container-header {
    margin: 0 !important;
}

/* HEADER */

.header-customer {
    background-position: center;
    min-height: 5rem !important;
    background-color: #273046;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-position-customer,
.customer-exit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-exit {
    margin-top: 0.8%;
}

.customer-img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    margin-left: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-info>h1 {
    font-size: 0.8rem;
    color: white;
}

/* HEADER */

/* BUTTON */

.css-dev-only-do-not-override-12upa3x {
    color: white !important;
}

.customer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.customer-btn-hover.active {
    border-bottom-color: #7465F2;
    border-bottom-width: 2px !important;
    border-radius: 0 !important;
    color: #7465F2 !important;
}

/* BUTTON */

.customer-ext-btn {
    cursor: pointer;
    font-size: 1.5rem !important;
    color: white !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-ext-btn>svg {
    margin: 1rem 1rem 1rem 1rem;
}

.customer-ext-btn:hover {
    color: #7465F2 !important;
    transition: 0.2s all ease-in;
}

.customer-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}


@media screen and (min-width: 700px) {
    .header-customer {
        margin: 2rem;
    }
    
    .customer-img {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 0.8rem;
    }

    .customer-info>h1 {
        font-size: 1rem;
    }

    .customer-exit {
        margin-top: 0;
    }

    .customer-btn-hover.active {
        border-bottom-width: 3px !important;
    }

    .customer-ext-btn {
        font-size: 2.5rem !important;
    }

    .customer-container-header {
        margin: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    .header-customer {
        margin: 3rem;
    }
    
    .customer-img {
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 1rem;
    }

    .customer-info>h1 {
        font-size: 1.5rem;
    }

    .customer-exit {
        margin-top: 0;
    }

    .customer-btn-hover.active {
        border-bottom-width: 3px !important;
    }

    .customer-ext-btn {
        font-size: 3rem !important;
    }

    .customer-container-header {
        margin: 0 !important;
    }
}