.ant-select:not(.ant-select-costumize-input) .ant-select-selector {
    background-color: transparent !important;
    border-color: #858B9B;
    color: white;
    width: 25.5rem !important; 
}

#range-picker-userlist::placeholder {
    color: white;
}

.ant-picker-focused>div {
    background-color: transparent !important;
}

.SelectRolePosition,
.RangePickerPosition  {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




