.ant-select:not(.ant-select-costumize-input) .ant-select-selector {
    background-color: transparent !important;
    border-color: #858B9B;
    color: white;
    width: 235px !important; 
}

#range-picker-userlist {
    width: 100px;
}

#range-picker-userlist::placeholder {
    color: white;
}

.ant-picker-focused>div {
    background-color: transparent !important;
}

.SelectRolePosition,
.RangePickerPosition  {
    margin-right: 5px !important;
    margin-bottom: -10px !important;
}
