.ant-input-affix-wrapper.ant-input-password {
    background-color: #D3D3D3 !important;
    border-color: #73228B !important;
    width: 270px !important;
    height: 40px !important;
    color: white !important;
    border-radius: 20px !important;
}

.ant-input-affix-wrapper.ant-input-password > input {
    color: white !important;
}

.ant-input-affix-wrapper.css-dev-only-do-not-override-12upa3x {
    background-color: #D3D3D3 !important;
    border-color: #73228B !important;
    width: 270px !important;
    height: 40px !important;
    color: white !important;
    border-radius: 20px !important;
}

.ant-input-affix-wrapper.css-dev-only-do-not-override-12upa3x > input {
    color: white !important;
}

.input-group-register >input {
    text-decoration: none;
    background-color: #D3D3D3;
    transition: all 0.5s ease-in-out;
    color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.ant-input-affix-wrapper {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-register >input::placeholder {
    color: white;
}