.ticket-page-body {
    height: 300px !important;
    width: 1410px !important;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;

    border-radius: 5px;
    background-color: #273046;
    background-image: url("../../../public/images/gezegenler.png");
    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ticket-page-footer {
    height: 300px !important;
    width: 1410px !important;

    margin-top: 20px;
    margin-bottom: 30px;

    border-radius: 5px;
    background-color: #273046;


    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* SEARCH */

.ticket-search {
    height: 275px !important;
    width: 350px !important;
    margin-right: 30px !important;
    
    background-color: rgba(27, 30, 46, 0.9); 
    border-radius: 5px !important;
}

.ticket-btn-group>button {
    display: inline-block;
    margin-left: 11% !important;
    height: 40px;
    width: 270px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #7465F2;
    cursor: pointer;
    outline: none;
    margin-top: 20px !important;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ticket-btn-group>button:hover {
    background-color: #161D30;
}

.ticket-search .ant-select {
    border-bottom: 1px solid #7465F2;
    width: 300px !important;

    margin-top: 25px !important;
    margin-left: 0 !important;
}

.ticket-search .ant-picker-input {
    border-bottom: 1px solid #7465F2;
    width: 125px !important;
    margin-top: 30px !important;

    margin: 0;
    padding: 0;
}

.ticket-search .ant-picker-suffix > span {
    margin-top: 30px !important;
}

/* SEARCH */

/* DESCRİPTİON */

.ticket-decription > h1 {
    color: white !important;
}

.desk-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* İstenilen aralığı ayarlayabilirsiniz */
}

.desc-box {
    height: 75px !important;
    width: 100px !important;
    color: white !important;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgba(27, 30, 46, 0.8);
    border-radius: 5px !important;
}

.desc-box > svg {
    font-size: 40px !important;
}

.desc-box > p {
    font-size: 9px !important;
    text-align: center;
}

/* DESCRİPTİON */