.recover-body-color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    background-image: linear-gradient(90deg, #73228B, #490F80) !important;
    background-size: cover;
    background-attachment: fixed;
}

.recover-body-color::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #73228B, #490F80) !important;
    background-size: cover;
    z-index: -1;
}

.card-right-recover {
    display: flex;
    background-position: center;
    background-color: #fff;
    min-height: 70rem;
    max-width: 35rem;
    margin: 4rem;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-right-recover > div {
    flex-direction: column;
}

.user-recover > h1 {
    margin-top: 5rem;
    font-size: 3rem;
    color: #73228B;
}

.user-recover > span {
    font-size: 2rem;
    color: #73228B;
}

.recover-content {
    display: flex;
}

.reset-icon-style > a {
    font-size: 3rem;    
}

.recover-content > div {
    margin: 1rem;
}

.success-message,
#error-message-reset {
    display: flex;
    background-color: #73228B;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}


@media screen and (min-width: 700px) {
    .card-right-recover  {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0 2rem 2rem 0;
        min-height: 65rem;
        max-width: 30rem;
    }

    .recover-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-recover > h1 {
        margin-bottom: 2rem;
    }

    .user-recover > span > p {
        font-size: 1.3rem;
    }

    .user-recover > span{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .card-right-recover {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0 2rem 2rem 0;
        min-height: 71rem;
        min-width: 35rem;
    }

    .recover-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-recover > h1 {
        margin-bottom: 2.5rem;
    }

    .user-recover > span > p {
        font-size: 1.5rem;
    }

    .user-recover > span{
        font-size: 1.8rem;
    }
}