#icon-home-position-sm>svg {
    font-size: 20px !important;
    margin-right: 10px !important;
}

/* SHOW ENTRIES */

.show-entries {
    display: flex;
    float: left;
    align-items: center;
    margin: 0.9%;
}

.show-entries>span {
    color: white;
    margin: 1.5%;
}

.anticon {
    color: white;
}

/* SHOW ENTRIES */

/** MEDIA QUERIES  **/

@media screen and (max-width: 1200px) {
    .search-bar {
        width: 1000px;
    }

    .list-group {
        width: 1000px;
        height: 420px;
    }

    svg {
        font-size: 15px;
        padding-top: 10px;
        margin: 0;
    }

    .ant-table .ant-table-container .ant-table-content>table>thead.ant-table-thead .ant-table-cell {
        padding: 5px !important;
    }

    td {
        padding: 5px !important;
    }

    .ant-table-head>tr {
        height: 5px;
    }

    .ant-table-column-sorter-inner>svg {
        margin: 0;
        padding: 0;
    }

    .ant-select:not(.ant-select-costumize-input) .ant-select-selector {
        margin-right: 6%;
        width: 225px;
    }

    #range-picker-userlist {
        width: 100px;
    }

    /* MODAL RESPONSİVE */

    .ant-modal-body {
        height: 560px !important;
        width: auto !important;

        overflow-y: scroll;
    }

    #modal-footer-button-style>.ant-btn-primary>div {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .ant-btn-primary>div>svg {
        padding-bottom: 10px !important;
    }

    #modal-footer-button-style>.ant-btn-default>div {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .ant-btn-default>div>svg {
        padding-bottom: 10px !important;
    }

    /* MODAL RESPONSİVE */

}

@media screen and (max-width: 768px) {

    .search-bar {
        width: 510px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-bar-item-top {
        position: relative;
    }

    .search-bar-item-bottom>div {
        position: relative;
        flex-direction: column;
        margin-right: 10px;
    }

    .list-group {
        width: 510px;
        height: 300px;
    }

    .search-bar-item>.search-bar-item-top>h1 {
        font-size: 20px;
        float: left;
        margin-right: 40px;
        margin-top: 0;
    }

    .ant-select:not(.ant-select-costumize-input) .ant-select-selector {
        margin-right: 6%;
        margin-top: 3%;
        width: 400px;
    }

    #range-picker-userlist {
        width: 230px;
    }

    svg {
        font-size: 10px;
        padding-right: 10px;
    }

    /* MODAL RESPONSİVE */

    .ant-modal-body {
        height: 560px !important;
        width: auto !important;

        overflow-y: scroll;
    }

    #date-picker-style {
        width: 400px !important;
    }

    .ant-input-number {
        width: 448px !important;
    }

    #modal-dropdown-button {
        width: 448px !important;
    }

    .modal-textbox-container>input {
        width: 448px !important;
        height: 32px !important;
    }

    #modal-username-style-input {
        width: 400px !important;
    }

    #modal-comment-style {
        margin-right: 200px;
    }

    .ant-input-affix-wrapper {
        width: 448px !important;
    }

    /* MODAL H5 STYLE */

    .datepicker-style>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 120px;
        left: 50px;

        z-index: 1 !important;
    }

    .modal-dropdown-container>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 243px;
        left: 50px;

        z-index: 1 !important;
    }

    .modal-textbox-container>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 305px;
        left: 50px;

        z-index: 1 !important;
    }

    .input-text-style>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 429px;
        left: 50px;

        z-index: 1 !important;
    }

    .modal-role-dropdown-container>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 367px;
        left: 50px;

        z-index: 1 !important;
    }

    .modal-status-dropdown-container>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 491px;
        left: 50px;

        z-index: 1 !important;
    }

    .modal-usarname-style>h5 {
        color: white;
        font-size: 8px;
        background-color: #273046 !important;

        margin: 0px !important;
        padding: 0px !important;

        position: absolute;
        top: 57px;
        left: 50px;

        z-index: 1 !important;
    }

    /* MODAL H5 STYLE */
    /* MODAL RESPONSİVE */
}