.space-vehicle-container {
    display: flex;
}

.space-vehicle-body {
    width: 100%;
    height: 65rem;
    margin-top: 3rem;
    background-color: #273046;
    border-radius: 0.5rem;
}

#space-vehicle-title {
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
    border-bottom: 0.2rem solid #161D30;
}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 1200px) {
    .space-vehicle-container {
        display: flex;
    }

    .space-vehicle-body {
        width: 100%;
        height: 65rem;
        margin-top: 3rem;
        background-color: #273046;
        border-radius: 0.5rem;
    }

    #space-vehicle-title {
        color: white;
        font-size: 2.5rem;
        margin: 2rem;
        border-bottom: 0.2rem solid #161D30;
    }
}