.product-body-color {
    background-color: #161D30;
}

body {
    background-color: #161D30;
}

.product-details-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 65rem;
    height: 100%;
    width: 95.5%;
    margin-top: 1.6%;
    margin-left: 2.3%;
    border-radius: 0.5rem;
    background-color: #273046;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    border-radius: 5px !important;
}

.planet-details>p {
    color: white;
    text-align: center;

    margin-right: 10px;
    margin-left: 10px;

    font-size: 1.2rem;
}

.planet-details>h1 {
    color: white;
    text-align: center;

    border-bottom: 2px solid white;
    width: 100%;
}

.planet-details-icon {
    font-size: 25px !important;
    color: white;
    position: absolute;
    left: 3% !important;
    top: 6% !important;
    padding: 3px !important;

    border-radius: 50% !important;
    background-color: #161D30;
}

.planet-details-icon:hover {
    background-color: white;
    color: #161D30;

    transition: 0.2s all ease-in;
}

.planet-spinner {
    display: flex;
    align-items: center !important;
    margin-top: 20% ;
    font-size: 50px;
}

@media screen and (min-width: 700px) {
    .planet-details>p {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .planet-details>p {
        font-size: 1.8rem;
    }
}