#admin-panel-body {
    display: flex !important;
    background-color: #161D30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.admin-panel-all {
    display: flex;
    height: 100%;
    width: 100%;
}

/** first-color =  #273046  **/
/** second-color =  #161D30  **/
/** third-color =  #5D5E9C  **/
/** fourth-color =  #858B9B  **/

/* NAVİGATE */

.aside {
    background-color: #273046;
    flex: 15%;
    padding: 1.5rem;
    height: 80rem;
    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.admin-rocket-img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.renta-rocket {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px;
    padding: 10px;
    border-bottom: solid #161D30;
}

.renta-rocket>h1 {
    font-size: 2rem;
    color: #7465F2;
}

/* NAVİGATE */

/* HEADER */

.header {
    background-color: #273046;
    flex: 75%;
    margin: 3rem;
    padding: 1rem;
    height: 6rem;
    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-position {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.admin-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.admin-info {
    flex-direction: column;
    margin-right: 1rem;
}

.admin-info>h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
}

.admin-info>span {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: white;
}

/* HEADER */

/* BUTTON */

.admin-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 1rem !important;
}

.admin-panel-button > span > svg,
.admin-panel-button-exit > span > svg {
    font-size: 2rem !important;
}

.admin-panel-button > a,
.admin-panel-button-exit > a {
    font-size: 1.7rem !important;
}

.admin-panel-button-exit {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100%;
    margin-left: 1rem !important;
}

/* BUTTON */

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 1200px) {
    #admin-panel-body {
        display: flex !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .admin-panel-all {
        display: flex;
        height: 100%;
        width: 100%;
    }
    
    /** first-color =  #273046  **/
    /** second-color =  #161D30  **/
    /** third-color =  #5D5E9C  **/
    /** fourth-color =  #858B9B  **/
    
    /* NAVİGATE */
    
    .aside {
        background-color: #273046;
        flex: 15%;
        padding: 1.5rem;
        height: 80rem;
        border-radius: 0.5rem;
    
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .admin-rocket-img {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .renta-rocket {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 5px;
        padding: 10px;
        border-bottom: solid #161D30;
    }
    
    .renta-rocket>h1 {
        font-size: 2rem;
        color: #7465F2;
    }
    
    /* NAVİGATE */
    
    /* HEADER */
    
    .header {
        background-color: #273046;
        flex: 75%;
        margin: 3rem;
        padding: 1rem;
        height: 6rem;
        border-radius: 0.5rem;
    
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .header-position {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .admin-img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
    
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    
    .admin-info {
        flex-direction: column;
        margin-right: 1rem;
    }
    
    .admin-info>h1 {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        color: white;
    }
    
    .admin-info>span {
        display: flex;
        justify-content: flex-end;
        font-size: 1rem;
        color: white;
    }
    
    /* HEADER */
    
    /* BUTTON */
    
    .admin-panel-button {
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-left: 1rem !important;
    }
    
    .admin-panel-button > span > svg,
    .admin-panel-button-exit > span > svg {
        font-size: 2rem !important;
    }
    
    .admin-panel-button > a,
    .admin-panel-button-exit > a {
        font-size: 1.7rem !important;
    }
    
    .admin-panel-button-exit {
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-top: 100%;
        margin-left: 1rem !important;
    }
}