body {
    margin: 0 !important;
    padding: 0 !important;
}

#admin-panel-body {
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col-8 {
    flex-direction: column;
}

/** first-color =  #273046  **/
/** second-color =  #161D30  **/
/** third-color =  #5D5E9C  **/
/** fourth-color =  #858B9B  **/

/* NAVİGATE */

.aside {
    width: 250px;
    height: 783px;
    background-color: #273046;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    margin-left: -20px !important;
    margin-right: 30px !important;
}

.admin-rocket-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.renta-rocket {
    display: flex;
    justify-content: space-around;
    border-bottom: 5px;
    padding: 10px;
    border-bottom: solid #161D30;
}

.renta-rocket>img {
    margin-top: 2.5%;
}


.renta-rocket>h1 {
    font-size: 25px;
    color: #7465F2;
}

/* NAVİGATE */

/* HEADER */

.header {
    width: 1080px !important;
    background-color: #273046;
    margin-right: 40px !important;
    margin-top: 30px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.admin-info {
    flex-direction: column;
    margin-right: 10px;
}

.admin-info>h1 {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: white;
}

.admin-info>span {
    font-size: 10px;
    float: right;
    margin-top: 0px;
    margin-bottom: 15px;
    color: white;
}

.admin-container-aside,
.admin-container-header {
    background-color: #161D30;
    padding: 0px !important;
    margin: 0px !important;
}
/* HEADER */

/* BUTTON */

.css-dev-only-do-not-override-12upa3x {
    color: white !important;
}

/* BUTTON */