/* MODAL */
.ant-modal-header {
    background-color: #273046 !important;
    color: white;
    border-bottom: 1px solid white !important;
}

.ant-modal-header>.ant-modal-title {
    color: white;
}

.ant-modal-content {
    background-color: #273046 !important;
}

.ant-modal-body {
    height: 66.5rem !important;
    width: auto !important;
    overflow-y: scroll;
}

.ant-modal {
    float: right;
    margin: 0px !important;
    padding: 0px !important;
    position: sticky !important;
}

#modal-footer-button-style>button>div>p {
    color: white;
}

/* MODAL TEXTAREA STYLE */
.ant-input-affix-wrapper {
    width: 220px !important;
    height: 32px !important;
    background-color: transparent !important;
    color: white !important;
}

.ant-input-suffix>span {
    color: white !important;
}

.modal-usarname-style>input {
    width: 22rem;
}

.ant-input::placeholder {
    color: white !important;
}

/* MODAL TEXTAREA STYLE */
/* MODAL */

#modal-comment-style {
    background-color: transparent !important;
    padding-bottom: 5% !important;
    color: white !important;
}

.modal-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-list > .ant-input {
    margin: 1rem;
    width: 90%;
    height: 3rem;
    background-color: transparent;
    border-color: #858B9B;
}

.ant-modal-close-x,
.ant-select-arrow {
    color: white !important;
}

.modal-list > .ant-select {
    width: 90%;
    height: 3rem !important;
    margin: 1rem;
}

.modal-list > .ant-select > .ant-select-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 3rem !important;
}